<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">

        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="assets/img/logo.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <form>
                                <h3>Modificar Horario</h3>
                                <div class="form-group" id="be">
                                    <!-- cargar origen destino respecto al origen -->
                                    <label for="origen" class="form-control">Origen: </label>
                                    <input [(ngModel)]="buses.origenbus" type="text" class="form-control" name="origenbus" placeholder="Ejm: Oruro" readonly="readonly">
                                    <label for="destino" class="form-control">Destino: </label>
                                    <input [(ngModel)]="buses.destinobus" type="text" class="form-control" name="destinobus" placeholder="Ejm: Cochabamba" readonly="readonly">
                                </div>
                                <div class="form-group" id="be">
                                    <label class="form-control">Fecha: </label>
                                    <input [(ngModel)]="buses.fecha" type="date" class="form-control" name="fecha" readonly="readonly">
                                </div>
                                <div class="form-group" id="be">
                                    <label class="form-control">Hora: </label>
                                    <!-- cargar horarios respecto al dia con su precio -->
                                    <input [(ngModel)]="buses.hora" type="time" class="form-control" name="hora">
                                </div>
                                <div class="form-group" id="be">
                                    <label class="form-control">Nombre Bus: </label>
                                    <input [(ngModel)]="buses.nombrebus" type="text" class="form-control" placeholder="Nombre de bus" name="nombrebus">
                                </div>
                                <div class="form-group" id="be">
                                    <label for="tipo" class="form-control">Tipo </label>
                                    <select [(ngModel)]="buses.tipobus" name="tipo" id="tipo" class="form-control" name="tipobus" readonly="readonly">
                                        <option value="Bus Normal">Bus Normal</option>
                                        <option value="Bus Cama">Bus Cama</option>
                                        <option value="Bus Leito">Bus Leito</option>
                                
                                    </select>

                                </div>

                                <div class="form-group" id="be">
                                    <label class="form-control">Precio: </label>
                                    <input [(ngModel)]="buses.precio" type="text" class="form-control" placeholder="Precio" name="precio">
                                </div>
                                <div>
                                    <button (click)="modificar()" id="bo2" type="button">Editar</button>
                                </div>
                            </form>
                            <form>
                                <input id="bo1" type="submit" value="Cancelar" routerLink="/Mostrar_Horario">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>