<div class="form-group" id="be">
    <label for="origen" class="form-control">Fecha:  </label>
    <input type="date" class="form-control">
</div>
<div>
    <h1>Rutas Registradas</h1>
    <table class="table">
        <thead class="thead-dark" id="cabe">
            <tr>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Hora</th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oruro</td>
                <td>Potosi</td>
                <td>08:00</td>
                <td>Bus Cama</td>
                <td>150</td>
                <td class="form-group">
                    <input type="button" id="bo2" value="modificar" routerLink="/Mostrar_Horario/Modificar_Horario">
                    <input type="button" id="bo1" value="Eliminar">
                </td>
            </tr>

        </tbody>
    </table>
</div>