<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">

        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="assets/img/logo.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <form>
                                <h3>Modifcar Ruta</h3>
                                <div class="form-group" id="be">
                                    <!-- cargar origen destino respecto al origen -->
                                    <label for="origen" class="form-control">Origen: </label>
                                    <input [(ngModel)]="ruta.origen" type="text" class="form-control" placeholder="Ejm: oruro" name="origen">
                                </div>
                                <div class="form-group" id="be">
                                    <label for="destino" class="form-control">Destino: </label>
                                    <input [(ngModel)]="ruta.destino" type="text" class="form-control" placeholder="Ejm: cochabamba" name="destino">
                                </div>
                                <div>
                                    <button (click)="modificar()" id="bo2" type="button">Guardar</button>
                                </div>
                            </form>
                            <form>
                                <input id="bo1" type="submit" value="Cancelar" routerLink="/Mostrar_Rutas">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>